.subheading{
    align:center;
    background-color: #E6E6E6;
   border:0px solid;
    line-height: 17px;
    text-transform: uppercase;
    padding: 6px 15px 3px;
    letter-spacing: 0.15em;
    font-weight: normal;
    margin-bottom: 0px !important;
}
.text-center {
    text-align: center;
}



..icon {
    position: relative;
}
.icon.badge {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 44px;
    position: absolute;
    text-indent: -9999px;
    width: 44px;
}
.icon.badge.sale {
    background-position: -56px -27px;
    right: -23px;
    top: -10px;
}
.icon.ribbon {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 15px;
    display: block;
    height: 19px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-indent: -9999px;
    width: 94px;
}
.icon.ribbon.sold-out {
    background-position: 0 -112px;
    height: 19px;
    width: 94px;
}
.icon.ribbon.new {
    background-position: 0 -83px;
    height: 19px;
    width: 94px;
}
.icon.ribbon.clearance {
    background-position: 0 -142px;
    height: 19px;
    width: 94px;
}
.icon.star {
    background: none repeat scroll 0 0 #333;
    color: #fff;
}
.icon.tag {
    left: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
}
.icon.tag.new-item {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll 0 -170px rgba(0, 0, 0, 0);
    height: 118px;
    left: 0;
    top: 0;
    width: 118px;
    z-index: 3;
}
.icon.tag.clearance {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll -356px -170px rgba(0, 0, 0, 0);
    height: 118px;
    left: 0;
    top: 0;
    width: 118px;
    z-index: 3;
}
.icon.checkmark {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll -194px -27px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 14px;
    margin: 1px 2px 1px 1px;
    width: 15px;
}
.icon.checkmark.teal {
    background-position: -219px -27px;
    height: 11px;
    margin: 2px 2px 1px 1px;
    width: 11px;
}
.icon.heart, .icon.speech, .icon.pencil, .icon.email, .icon.embed, .icon.plus, .icon.view, .icon.magnify, .icon.rss, .icon.rss2 {
    display: block;
    float: left;
    position: relative;
}
.icon.heart {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll -195px -51px rgba(0, 0, 0, 0);
    height: 13px;
    margin: 1px 2px 1px 1px;
    width: 14px;
}
.icon.speech {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll -194px -224px rgba(0, 0, 0, 0);
    height: 13px;
    margin: 0 2px 0 1px;
    top: 3px;
    width: 12px;
}
.icon.pencil {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll -194px -246px rgba(0, 0, 0, 0);
    height: 13px;
    margin: 0 5px 0 1px;
    top: 3px;
    width: 12px;
}
.icon.email {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll -194px -78px rgba(0, 0, 0, 0);
    height: 10px;
    margin: 3px 2px 1px 1px;
    width: 15px;
}
.icon.embed {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll -194px -98px rgba(0, 0, 0, 0);
    height: 13px;
    margin: 2px 2px 1px 1px;
    width: 13px;
}
.icon.plus {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll -194px -119px rgba(0, 0, 0, 0);
    height: 13px;
    margin: 0 2px 1px 1px;
    top: 4px;
    width: 13px;
}
.icon.magnify {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll -194px -141px rgba(0, 0, 0, 0);
    height: 13px;
    margin: 0 5px 1px 1px;
    top: 4px;
    width: 13px;
}
.icon.view {
    background: url("../sb_images/img/icon/view.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 13px;
    margin: 0 0 1px 1px;
    top: 4px;
    width: 19px;
}
.icon.rss {
    background: url("../sb_images/img/icon/rss1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 12px;
    margin: 0 1px 1px 7px;
    right: 1px;
    top: 2px;
    width: 12px;
}



#browse-by-color p {
    color: #838383;
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 10px 13px 0;
}
#browse-by-color ul {
    padding: 10px 3px 12px 7px;
}
#browse-by-color ul li {
    background: url("../sb_images/img/sprites/color-swatches.png") no-repeat scroll -84px 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 38px;
    margin: 0 3px 4px 0;
    position: relative;
    width: 38px;
}
#browse-by-color ul li:hover span.color-overlap {
    opacity: 0.8;
}
#browse-by-color ul li a {
    background: url("../sb_images/img/sprites/color-swatches.png") no-repeat scroll 0 -1px rgba(0, 0, 0, 0);
    display: block;
    height: 32px;
    left: 3px;
    position: absolute;
    text-indent: -9999px;
    top: 2px;
    width: 32px;
    z-index: 1;
}
#browse-by-color ul li span.color-overlap {
    background: none repeat scroll 0 0 green;
    border-radius: 300px;
    display: block;
    height: 32px;
    left: 3px;
    position: absolute;
    top: 2px;
    width: 32px;
    z-index: 0;
}
#browse-by-color ul li.red span.color-overlap {
    background: none repeat scroll 0 0 #bc1b1b;
}
#browse-by-color ul li.pink span.color-overlap {
    background: none repeat scroll 0 0 #c34d6c;
}
#browse-by-color ul li.purple span.color-overlap {
    background: none repeat scroll 0 0 #68568b;
}
#browse-by-color ul li.blue span.color-overlap {
    background: none repeat scroll 0 0 #5e94dd;
}
#browse-by-color ul li.green span.color-overlap {
    background: none repeat scroll 0 0 #87a839;
}
#browse-by-color ul li.yellow span.color-overlap {
    background: none repeat scroll 0 0 #d6c643;
}
#browse-by-color ul li.orange span.color-overlap {
    background: none repeat scroll 0 0 #de732c;
}
#browse-by-color ul li.brown span.color-overlap {
    background: none repeat scroll 0 0 #6c5640;
}
#browse-by-color ul li.gray span.color-overlap {
    background: none repeat scroll 0 0 #b6b7b7;
}
#browse-by-color ul li.black span.color-overlap {
    background: none repeat scroll 0 0 #353535;
}
#browse-by-color ul li.c_6bb8b9 span.color-overlap {
    background: none repeat scroll 0 0 #6bb8b9;
}
#browse-by-color ul li.c-abd9db span.color-overlap {
    background: none repeat scroll 0 0 #abd9db;
}
#browse-by-color ul li.c-a58560 span.color-overlap {
    background: none repeat scroll 0 0 #a58560;
}
#browse-by-color ul li.c_d1ad78 span.color-overlap {
    background: none repeat scroll 0 0 #d1ad78;
}
#browse-by-color ul li.c_ebd9bc span.color-overlap {
    background: none repeat scroll 0 0 #ebd9bc;
}
#browse-by-color ul li.c_20201b span.color-overlap {
    background: none repeat scroll 0 0 #20201b;
}
#browse-by-color ul li.c_464646 span.color-overlap {
    background: none repeat scroll 0 0 #464646;
}
#browse-by-color ul li.c_878d79 span.color-overlap {
    background: none repeat scroll 0 0 #878d79;
}
#browse-by-color ul li.c_716548 span.color-overlap {
    background: none repeat scroll 0 0 #716548;
}
#browse-by-color ul li.c_09151c span.color-overlap {
    background: none repeat scroll 0 0 #09151c;
}
.block {
    background: none repeat scroll 0 0 #fff;
    margin: 0 0 19px;
}



.subheading{
    align:center;
    background-color: #E6E6E6;
   border:0px solid;
    line-height: 17px;
    text-transform: uppercase;
    padding: 6px 15px 3px;
    letter-spacing: 0.15em;
    font-weight: normal;
    margin-bottom: 0px !important;
}



..icon {
    position: relative;
}
.icon.badge {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 44px;
    position: absolute;
    text-indent: -9999px;
    width: 44px;
}
.icon.badge.sale {
    background-position: -56px -27px;
    right: -23px;
    top: -10px;
}
.icon.ribbon {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 15px;
    display: block;
    height: 19px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-indent: -9999px;
    width: 94px;
}
.icon.ribbon.sold-out {
    background-position: 0 -112px;
    height: 19px;
    width: 94px;
}
.icon.ribbon.new {
    background-position: 0 -83px;
    height: 19px;
    width: 94px;
}
.icon.ribbon.clearance {
    background-position: 0 -142px;
    height: 19px;
    width: 94px;
}
.icon.star {
    background: none repeat scroll 0 0 #333;
    color: #fff;
}
.icon.tag {
    left: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
}
.icon.tag.new-item {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll 0 -170px rgba(0, 0, 0, 0);
    height: 118px;
    left: 0;
    top: 0;
    width: 118px;
    z-index: 3;
}
.icon.tag.clearance {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll -356px -170px rgba(0, 0, 0, 0);
    height: 118px;
    left: 0;
    top: 0;
    width: 118px;
    z-index: 3;
}
.icon.checkmark {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll -194px -27px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 14px;
    margin: 1px 2px 1px 1px;
    width: 15px;
}
.icon.checkmark.teal {
    background-position: -219px -27px;
    height: 11px;
    margin: 2px 2px 1px 1px;
    width: 11px;
}
.icon.heart, .icon.speech, .icon.pencil, .icon.email, .icon.embed, .icon.plus, .icon.view, .icon.magnify, .icon.rss, .icon.rss2 {
    display: block;
    float: left;
    position: relative;
}
.icon.heart {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll -195px -51px rgba(0, 0, 0, 0);
    height: 13px;
    margin: 1px 2px 1px 1px;
    width: 14px;
}
.icon.speech {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll -194px -224px rgba(0, 0, 0, 0);
    height: 13px;
    margin: 0 2px 0 1px;
    top: 3px;
    width: 12px;
}
.icon.pencil {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll -194px -246px rgba(0, 0, 0, 0);
    height: 13px;
    margin: 0 5px 0 1px;
    top: 3px;
    width: 12px;
}
.icon.email {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll -194px -78px rgba(0, 0, 0, 0);
    height: 10px;
    margin: 3px 2px 1px 1px;
    width: 15px;
}
.icon.embed {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll -194px -98px rgba(0, 0, 0, 0);
    height: 13px;
    margin: 2px 2px 1px 1px;
    width: 13px;
}
.icon.plus {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll -194px -119px rgba(0, 0, 0, 0);
    height: 13px;
    margin: 0 2px 1px 1px;
    top: 4px;
    width: 13px;
}
.icon.magnify {
    background: url("../sb_images/img/sprites/sprites2.png") no-repeat scroll -194px -141px rgba(0, 0, 0, 0);
    height: 13px;
    margin: 0 5px 1px 1px;
    top: 4px;
    width: 13px;
}
.icon.view {
    background: url("../sb_images/img/icon/view.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 13px;
    margin: 0 0 1px 1px;
    top: 4px;
    width: 19px;
}
.icon.rss {
    background: url("../sb_images/img/icon/rss1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 12px;
    margin: 0 1px 1px 7px;
    right: 1px;
    top: 2px;
    width: 12px;
}



#browse-by-color p {
    color: #838383;
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 10px 13px 0;
}
#browse-by-color ul {
    padding: 10px 3px 12px 7px;
}
#browse-by-color ul li {
    background: url("../sb_images/img/sprites/color-swatches.png") no-repeat scroll -84px 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 38px;
    margin: 0 3px 4px 0;
    position: relative;
    width: 38px;
}
#browse-by-color ul li:hover span.color-overlap {
    opacity: 0.8;
}
#browse-by-color ul li a {
    background: url("../sb_images/img/sprites/color-swatches.png") no-repeat scroll 0 -1px rgba(0, 0, 0, 0);
    display: block;
    height: 32px;
    left: 3px;
    position: absolute;
    text-indent: -9999px;
    top: 2px;
    width: 32px;
    z-index: 1;
}
#browse-by-color ul li span.color-overlap {
    background: none repeat scroll 0 0 green;
    border-radius: 300px;
    display: block;
    height: 32px;
    left: 3px;
    position: absolute;
    top: 2px;
    width: 32px;
    z-index: 0;
}
#browse-by-color ul li.red span.color-overlap {
    background: none repeat scroll 0 0 #bc1b1b;
}
#browse-by-color ul li.pink span.color-overlap {
    background: none repeat scroll 0 0 #c34d6c;
}
#browse-by-color ul li.purple span.color-overlap {
    background: none repeat scroll 0 0 #68568b;
}
#browse-by-color ul li.blue span.color-overlap {
    background: none repeat scroll 0 0 #5e94dd;
}
#browse-by-color ul li.green span.color-overlap {
    background: none repeat scroll 0 0 #87a839;
}
#browse-by-color ul li.yellow span.color-overlap {
    background: none repeat scroll 0 0 #d6c643;
}
#browse-by-color ul li.orange span.color-overlap {
    background: none repeat scroll 0 0 #de732c;
}
#browse-by-color ul li.brown span.color-overlap {
    background: none repeat scroll 0 0 #6c5640;
}
#browse-by-color ul li.gray span.color-overlap {
    background: none repeat scroll 0 0 #b6b7b7;
}
#browse-by-color ul li.black span.color-overlap {
    background: none repeat scroll 0 0 #353535;
}
#browse-by-color ul li.c_6bb8b9 span.color-overlap {
    background: none repeat scroll 0 0 #6bb8b9;
}
#browse-by-color ul li.c-abd9db span.color-overlap {
    background: none repeat scroll 0 0 #abd9db;
}
#browse-by-color ul li.c-a58560 span.color-overlap {
    background: none repeat scroll 0 0 #a58560;
}
#browse-by-color ul li.c_d1ad78 span.color-overlap {
    background: none repeat scroll 0 0 #d1ad78;
}
#browse-by-color ul li.c_ebd9bc span.color-overlap {
    background: none repeat scroll 0 0 #ebd9bc;
}
#browse-by-color ul li.c_20201b span.color-overlap {
    background: none repeat scroll 0 0 #20201b;
}
#browse-by-color ul li.c_464646 span.color-overlap {
    background: none repeat scroll 0 0 #464646;
}
#browse-by-color ul li.c_878d79 span.color-overlap {
    background: none repeat scroll 0 0 #878d79;
}
#browse-by-color ul li.c_716548 span.color-overlap {
    background: none repeat scroll 0 0 #716548;
}
#browse-by-color ul li.c_09151c span.color-overlap {
    background: none repeat scroll 0 0 #09151c;
}
.block {
    background: none repeat scroll 0 0 #fff;
    margin: 0 0 19px;
}



















.div-bgrd {
background:url("dodpink.jpg") repeat-x;
}


#header.global #search-the-store {
    background-color: #fff;
    border: 1px solid #bcbcbc;
    float: right;
    height: 34px;
    margin-top: 6px;
    overflow: hidden;
    position: relative;
    width: 344px;
}
#header.global #search-the-store input[type="text"] {
    background: none repeat scroll 0 0 transparent;
    color: #999;
    float: left;
    font-family: 'open sans',arial,helvetica;
    font-size: 13px;
    letter-spacing: 0.016em;
    padding: 9px 10px 3px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    width: 282px;
}
#header.global #search-the-store input[type="submit"] {
    background: url("../sb_images/img/button/btn-search.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
    border: 1px solid #cb5d36;
    border-radius: 1px;
    box-shadow: 0 1px 0 #b8b5bd;
    float: right;
    height: 28px;
    margin: 2px 2px 2px 0;
    padding: 5px 11px;
    position: relative;
    text-indent: -9999px;
    width: 31px;
}
#header.global .ac-view-cart {
    min-width: 222px;
}

.ie7 hr.header {
    border: 1px solid #514665;
    margin: 0;
}

.announcementflash {
    background: url("dodpink.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0) !important;
    border-bottom: 1px solid #525151;
    border-top: 1px solid #525151;
    color: #fff;
    display: block;
    font-family: 'Open Sans',Arial,Tahoma;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}





.swotbar {
    background-color: #6fadb9;
    border-bottom: 1px solid #5c939e;
    border-top: 1px solid #5c939e;
    color: #fff;
    padding: 18px 0;
    position: relative;
    text-align: center;
}
.swotheader .swotbar {
    bottom: 1px;
}
.swotfooter .swotbar {
    top: 1px;
}
.swotbar .class .input-wrap {
    margin-left: auto;
    margin-right: auto;
}
.swotbar .class .input-wrap input[type="text"] {
    width: 480px;
}
.swotbar .class .input-wrap input[type="text"] {
    font-size: 16px;
    padding: 12px 8px 8px !important;
}
.swotbar .emailsignup {
    margin: 0 auto;
    position: relative;
    width: 960px;
}
.swotbar .emailsignup form {
    margin-left: auto;
    margin-right: auto;
    width: 670px;
}
.emailsignup .input-wrap {
    border: 1px solid #a3a3a3 !important;
}
.swotconfirm {
    line-height: 170%;
}










#nav-account-links {
    background-color: #e9e9e9;
    border: 1px solid #dadada;
    float: right;
    height: 33px;
    margin: 13px 0 10px;
    position: relative;
}


.drop {
    margin: 3px;
    position: relative;
    z-index: 2001;
}


.ac-links {
    border: 1px solid #e9e9e9;
    margin-right: 4px;
}


.ac-account {
    cursor: pointer;
    position: relative;
    z-index: 2002;
}

.ac-view-cart {
    min-width: 222px;
}


.main-container {
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.loggedin ul.drop li.ac-account {
    background: url("../sb_images/img/bg-block-section.png") repeat scroll 0 0 #f7f7f9;
    border: 1px solid #e9e9e9;
    color: #514859;
    cursor: pointer;
    position: relative;
    z-index: 2002;
}
.loggedin a.myaccount {
    color: #514859 !important;
    font-size: 11px;
    font-weight: bold !important;
}


a#viewcart div {
    font-size: 10px;
    left: 60px;
    position: absolute;
    text-align: left;
    top: 21px;
}

.p30 {
padding: 24px 30px 30px 30px;
border-color: #b2abbd #b2abbd #c5bfce;
}
.img.folded-edges img {
    display: block;
    float: none !important;
    margin: 0 !important;
    max-width: 100%;
    position: relative;
    z-index: 2;
}

.block1 footer {
    background-color: #e6e6e6;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-radius: 0 0 1px 1px;
    border-right: 1px solid #dbdbdb;
    color: #514859;
    font-size: 11px;
    font-weight: bold;
    padding: 8px 15px 6px;
    text-shadow: 0 1px 0 #fff;
}